<div class="container">
  <div class="columns">
    <div class="column is-9">
      <section class="hero is-info welcome is-small borderRadius">
        <div class="hero-body">
          <div class="container">
            <h1 class="title textShadow">
              {{!-- {{#each posts as |post|}} --}}
              Hello! {{username}}
              {{!-- {{/each}} --}}
            </h1>
            <h2 class="subtitle textShadow">
              Use the form below to make a new post!
            </h2>
          </div>
        </div>
      </section>
      <section class="section">
        <div class="container has-text-centered">
          <h2 class="title textShadow1px">What would you like to post?</h2>
          <form class="new-post-form">
            <div class="field is-horizontal">
              <div class="field-body">
                <div class="field">
                  <p class="control has-icons-left boxShadow borderRadius">
                    <input class="input textShadow1px" type="text" id="post-title" placeholder="Post Title">
                    <span class="icon is-small is-left">
                      <i class="fas fa-user"></i>
                    </span>
                  </p>
                </div>
              </div>
            </div>

            <div class="field is-horizontal">
              <div class="field-body">
                <div class="field">
                  <div class="control boxShadow borderRadius">
                    <textarea class="textarea textShadow1px" id="post-contents" placeholder="Post Contents"></textarea>
                  </div>
                </div>
              </div>
            </div>
            <div class="field is-horizontal">
              <div class="field-body">
                <div class="field">
                  <div class="control">
                    <button class="button is-primary textShadow boxShadow">
                      Submit New Post!
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </section>
    </div>
  </div>
</div>
<script src="/js/post.js"></script>