<section class="container boxShadow borderRadius">
  <div class="columns is-multiline">
    <div class="column is-12 register">
      <div class="columns cardMargin">
        <div class="column is-12 border cardMargin2 postContainer">
          <h3 class="title is-4 textShadow1px techBlogColor">{{title}}</h3>
          <h4 class="subtitle colorLightBlue is-5 textShadow1px">Created by {{user.username}}</h2>
            <p class="textShadow1px">{{{content}}}</p>
        </div>
      </div>
      {{!-- <span class="button is-link modal-button textShadow1px boxShadow editPostBtn" data-id="{{post.id}}"
                    data-target="modal-card textShadow1px">Make a comment on this post</span> --}}
    </div>
  </div>
</section>
</body>
